# log
output_path: "./Experiments/log_base"

# data
in_channels: 1
num_classes: 1 # must count the background class
threshold: 15
ours: True
ours_start: 0

# our loss
neg_coeff: 0.001
pos_coeff: 0.001
    
# network
three_dimensional: True
m_channels: 32
n_convs: 2
n_levels: 3
dropout: 0.1
batch_norm: True
upsampling: "deconv"
pooling: "max"

# optimizer
lr: 0.001
weight_decay: 0.0001
lr_decay: True
lr_decay_factor: 0.001

# training
batch_size: 4
crop_size: [96,96,96]

# testing
crop_size_test: [96,96,96]
margin_size: [22,22,22]

# trainer
num_iters: 10000
print_every: 50
valid_every: 500
save_every: 500

